.Description{

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 3rem;
}

.DescriptionBody{
     margin-top: 1rem 0s;
    font-size: 1.5rem;
    font-weight: 200; 
    text-align: center;
}
 