
#text{
    color: #000;
}
#log{
    
 display: inline-flexbox;
opacity: 0.6;   

}

#testrow{
    text-align: center;
}
#backgroundLogo{
    background-image: "../assets/nandl.png";

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-attachment: fixed;
}
