#profile-buttons {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: center;
    height: 150px;
    width: 50px;
    margin: 10rem;
}  
#h1{

    text-align: center;
    margin: 1rem;
}
#pro{

    background-color: lightblue;
     
  
}
#pic{
margin: 1rem;
}
#anlegen{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: center;
    height: 50px;
    width: 50px;
 
    margin: 10rem;

}