.App{
  background-color: black;
  height:100vh;
  background: url(./assets/wenzi.JPG);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  
}
.AppDark{
  background-color: black;
  height:100vh;
  background: url(./assets/wenzi.JPG);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  opacity: 0.5;
  
}